{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nombreempresa</th>
                <td>{{ empresa.nombreEmpresa }}</td>
            </tr>
            <tr>
                <th>Direccionempresa</th>
                <td>{{ empresa.direccionEmpresa }}</td>
            </tr>
            <tr>
                <th>Telefonoempresa</th>
                <td>{{ empresa.telefonoEmpresa }}</td>
            </tr>
            <tr>
                <th>Emailempresa</th>
                <td>{{ empresa.emailEmpresa }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ empresa.usuario }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ empresa.clave }}</td>
            </tr>
            <tr>
                <th>Requerimiento</th>
                <td>{{ empresa.requerimiento }}</td>
            </tr>
            <tr>
                <th>Ruc</th>
                <td>{{ empresa.ruc }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
