{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="cold-md-12">
            <div class="page-header margin-none">
                <h1>Lista de Pasantes</h1>
            </div>
            <div class="table-responsive">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Especialidad</th>
                <th>Universidad</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Conocimientos</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pasante in pasantes %}
            <tr>
                <td><a href="{{ path('pasante_show', { 'id': pasante.id }) }}">{{ pasante.id }}</a></td>
                <td>{{ pasante.nombre }}</td>
                <td>{{ pasante.apellido }}</td>
                <td>{{ pasante.cedula }}</td>
                <td>{{ pasante.especialidad }}</td>
                <td>{{ pasante.universidad }}</td>
                <td>{{ pasante.email }}</td>
                <td>{{ pasante.telefono }}</td>
                <td>{{ pasante.conocimientos }}</td>
                <td>{{ pasante.usuario }}</td>
                <td>{{ pasante.clave }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pasante_show', { 'id': pasante.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pasante_edit', { 'id': pasante.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pasante_new') }}">Create a new pasante</a>
        </li>
    </ul>
    </div>
        </div>
        </div>
{% endblock %}
