{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pasante</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pasante.id }}</td>
            </tr>
            <tr>
                <th>Nombrepasante</th>
                <td>{{ pasante.nombrePasante }}</td>
            </tr>
            <tr>
                <th>Apellidopasante</th>
                <td>{{ pasante.apellidoPasante }}</td>
            </tr>
            <tr>
                <th>Cedulapasante</th>
                <td>{{ pasante.cedulaPasante }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ pasante.usuario }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ pasante.clave }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ pasante.especialidad }}</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>{{ pasante.universidad }}</td>
            </tr>
            <tr>
                <th>Emailpasante</th>
                <td>{{ pasante.emailPasante }}</td>
            </tr>
            <tr>
                <th>Telefonopasante</th>
                <td>{{ pasante.telefonoPasante }}</td>
            </tr>
            <tr>
                <th>Conocimientos</th>
                <td>{{ pasante.conocimientos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pasante_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pasante_edit', { 'id': pasante.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
